In [2]:
import pandas as pd


def get_area(offset_dist, *offset):

    def first_method(offset_dist, *offset):
        count = 0
        for i in range(len(offset)):
            if i == 0 or i == len(offset) - 1:
                count += offset[i]

            elif i % 2 == 1:
                count += offset[i] * 4

            elif i % 2 == 0:
                count += offset[i] * 2

        return (count * 2 * offset_dist) / 3

        
    def alternate_method(offset_dist, *offset):
        count = 0
        for i in range(len(offset[:3])):
            if i == 0:
                count += offset[i] * 5
            elif i == 1:
                count += offset[i] * 8
            elif i == 2:
                count -= offset[i]

        count = (count * 2 * offset_dist) / 12

        count2 = 0
        for i in range(1, len(offset)):
            if i == 1 or i == len(offset) - 1:
                count2 += offset[i]

            elif i % 2 == 0:
                count2 += offset[i] * 4

            elif i % 2 == 1:
                count2 += offset[i] * 2

        count2 = (count2 * 2 * offset_dist) / 3
        return count2 + count


    if len(offset) % 2 == 1:
        return first_method(offset_dist, *offset)

    return alternate_method(offset_dist, *offset)

def half_method(offset_dist,*offset):
        count = 0
        for i in range(3):
            if i == 0:
                count += offset[i] * 5
            elif i == 1:
                count += offset[i] * 8
            elif i == 2:
                count -= offset[i]

        return (count * 2 * offset_dist) / 12
    
df_offset=pd.read_excel('offset.xlsx')
df_offset

,0.0,0.5,1.0,1.5,2.0,3.0,4.0,5.0,6.0,7.0,...,13.0,14.0,15.0,16.0,17.0,18.0,18.5,19.0,19.5,20.0
0,0.00,0.00,0.00,0.25,0.80,1.73,2.96,4.23,5.50,6.51,...,7.69,7.19,6.26,4.82,3.21,1.61,1.01,0.51,0.08,0.00
1,0.00,0.00,0.02,0.51,1.10,2.33,3.80,5.16,6.38,7.27,...,8.12,7.61,6.68,5.41,3.72,2.03,1.27,0.68,0.13,0.00
2,0.00,0.00,0.34,0.86,1.41,2.96,4.65,6.00,7.19,7.95,...,8.46,8.03,7.23,5.83,4.23,2.45,1.61,0.85,0.17,0.00
3,0.00,0.25,0.68,1.27,2.11,3.97,5.58,6.77,7.69,8.20,...,8.46,8.29,7.61,6.51,4.90,3.04,2.11,1.10,0.25,0.00
4,0.00,0.42,0.93,1.61,2.37,4.14,5.92,7.31,8.12,8.37,...,8.46,8.37,7.95,7.02,5.66,3.80,2.79,1.69,0.59,0.00
5,0.00,0.59,1.27,2.03,2.87,4.65,6.34,7.61,8.29,8.46,...,8.46,8.46,8.20,7.61,6.59,5.16,4.23,3.21,2.20,1.10
6,0.17,0.85,1.69,2.45,3.38,5.24,6.76,7.86,8.37,8.46,...,8.46,8.46,8.37,8.12,7.52,6.51,5.83,4.99,4.06,3.04
7,0.42,1.27,2.20,3.13,4.14,5.83,7.19,8.03,8.37,8.46,...,8.46,8.46,8.46,8.37,8.12,7.52,7.02,6.43,5.66,4.73
8,0.85,1.94,3.04,4.06,4.99,6.59,7.69,8.20,8.46,8.46,...,8.46,8.46,8.46,8.46,8.37,8.12,7.78,7.27,6.59,5.75

In [4]:
offset_dist=float(input('enter offset dist: '))

areas={}

for i in range(len(df_offset.columns)):
    areas[f'stn{i}']=[half_method(offset_dist,*df_offset.iloc[:3,i]),
                      get_area(offset_dist,*df_offset.iloc[:3,i])]
    for j in range(4,len(df_offset)+1):  
        areas[f'stn{i}'].append(get_area(offset_dist,*df_offset.iloc[:j,i]))
    
    
stn_names=[f'stn{i}' for i in df_offset.columns]
bonjean={}
for i in range(len(stn_names)):
        bonjean[stn_names[i]]=areas[f'stn{i}'] 

df=pd.DataFrame(bonjean)
for i in range(len(df.index)):
    for j in range(len(df.columns)):
        if df.iloc[i,j]<0.0:
            df.replace(df.iloc[i,j],0.0,inplace=True)

indexes =[f'0-{i}' for i in range(1,len(df_offset))]
old_index=[i for i in range(len(df_offset)-1)]
index_dict=dict(zip(old_index,indexes))

df.rename(index = index_dict, inplace = True)
df.to_excel('bonjean.xlsx',index=True)

df

enter offset dist: 25

,stn0.0,stn0.5,stn1.0,stn1.5,stn2.0,stn3.0,stn4.0,stn5.0,stn6.0,stn7.0,...,stn13.0,stn14.0,stn15.0,stn16.0,stn17.0,stn18.0,stn18.5,stn19.0,stn19.5,stn20.0
0-1,0.000000,0.000000,-0.750000,18.625000,47.458333,101.375000,168.958333,235.125000,297.291667,344.833333,...,395.625000,370.000000,322.958333,256.458333,173.250000,91.000000,56.666667,29.750000,5.291667,0.000000
0-2,0.000000,0.000000,7.000000,52.500000,110.166667,233.500000,380.166667,514.500000,636.833333,725.666667,...,810.500000,761.000000,670.166667,538.166667,372.000000,203.000000,128.333333,68.000000,12.833333,0.000000
0-3,0.000000,4.166667,33.583333,105.625000,194.958333,403.708333,635.291667,833.958333,1011.125000,1132.666667,...,1235.958333,1170.333333,1043.125000,843.791667,598.916667,338.833333,220.333333,116.083333,22.958333,0.000000
0-4,0.000000,23.666667,73.500000,178.333333,313.833333,616.500000,928.333333,1187.666667,1404.666667,1544.333333,...,1656.500000,1587.000000,1430.500000,1186.333333,863.500000,509.833333,342.333333,183.666667,42.166667,0.000000
0-5,0.000000,46.166667,128.083333,267.958333,435.958333,823.375000,1228.625000,1560.958333,1818.791667,1968.333333,...,2081.958333,2007.500000,1836.625000,1547.125000,1167.750000,728.833333,512.000000,300.583333,103.125000,18.333333
0-6,2.833333,84.166667,201.833333,381.333333,601.000000,1082.833333,1562.333333,1947.833333,2232.166667,2388.833333,...,2502.500000,2431.500000,2249.166667,1946.000000,1522.500000,1025.666667,768.000000,509.000000,266.333333,124.000000
0-7,18.333333,133.833333,298.583333,517.291667,778.125000,1347.375000,1904.791667,2345.625000,2654.458333,2814.333333,...,2927.958333,2853.500000,2672.291667,2354.791667,1914.250000,1374.166667,1088.166667,793.916667,504.791667,318.166667
0-8,47.833333,215.333333,427.333333,698.500000,1016.500000,1668.666667,2282.500000,2750.833333,3070.666667,3234.833333,...,3348.500000,3277.500000,3093.666667,2780.333333,2328.666667,1770.833333,1462.833333,1142.000000,821.166667,585.833333

In [12]:

            
            
df

,stn0.0,stn0.5,stn1.0,stn1.5,stn2.0,stn3.0,stn4.0,stn5.0,stn6.0,stn7.0,...,stn13.0,stn14.0,stn15.0,stn16.0,stn17.0,stn18.0,stn18.5,stn19.0,stn19.5,stn20.0
0-1,0.000000,0.000000,0.000000,18.625000,47.458333,101.375000,168.958333,235.125000,297.291667,344.833333,...,395.625000,370.000000,322.958333,256.458333,173.250000,91.000000,56.666667,29.750000,5.291667,0.000000
0-2,0.000000,0.000000,7.000000,52.500000,110.166667,233.500000,380.166667,514.500000,636.833333,725.666667,...,810.500000,761.000000,670.166667,538.166667,372.000000,203.000000,128.333333,68.000000,12.833333,0.000000
0-3,0.000000,4.166667,33.583333,105.625000,194.958333,403.708333,635.291667,833.958333,1011.125000,1132.666667,...,1235.958333,1170.333333,1043.125000,843.791667,598.916667,338.833333,220.333333,116.083333,22.958333,0.000000
0-4,0.000000,23.666667,73.500000,178.333333,313.833333,616.500000,928.333333,1187.666667,1404.666667,1544.333333,...,1656.500000,1587.000000,1430.500000,1186.333333,863.500000,509.833333,342.333333,183.666667,42.166667,0.000000
0-5,0.000000,46.166667,128.083333,267.958333,435.958333,823.375000,1228.625000,1560.958333,1818.791667,1968.333333,...,2081.958333,2007.500000,1836.625000,1547.125000,1167.750000,728.833333,512.000000,300.583333,103.125000,18.333333
0-6,2.833333,84.166667,201.833333,381.333333,601.000000,1082.833333,1562.333333,1947.833333,2232.166667,2388.833333,...,2502.500000,2431.500000,2249.166667,1946.000000,1522.500000,1025.666667,768.000000,509.000000,266.333333,124.000000
0-7,18.333333,133.833333,298.583333,517.291667,778.125000,1347.375000,1904.791667,2345.625000,2654.458333,2814.333333,...,2927.958333,2853.500000,2672.291667,2354.791667,1914.250000,1374.166667,1088.166667,793.916667,504.791667,318.166667
0-8,47.833333,215.333333,427.333333,698.500000,1016.500000,1668.666667,2282.500000,2750.833333,3070.666667,3234.833333,...,3348.500000,3277.500000,3093.666667,2780.333333,2328.666667,1770.833333,1462.833333,1142.000000,821.166667,585.833333